<!-- module 1열 -->
			<!-- ex 111 -->
			<div class="md_col_type">
				<!-- txt 속성. 좌(a_l), 센터(a_c), 우(a_r). top(v_t), middle(v_m), bottom(v_b) -->
				<div class="no1 txt_type a_l v_t">
					<div class="txt_frame">
						<p>바이널씨 유닛들의 특별한 생각이 모인 노트를 소개합니다<br>
							한 사람의 탁월한 생각이나 능력에 의존하기 보다는 함께 만들어가는 즐거움을 우리는 알고 있습니다.<br>
							하루하루가 모여 한달이 되고. 한달한달이 모여 일년이되고, 그리고 그 수많은 일년이 모여 나의 인생이 됩니다.<br>
							하루하루를 소중하게 꾹꾹 눌러 적어둔다면 나의 인생 어떻게 변하게 될까요</p>
					</div>
				</div>
			</div>

			<!-- ex 112 -->
			<div class="md_col_type">
				<!-- img 속성 -->
				<div class="no1 img_type">
					<div class="img_frame"><img src="/images/@img_module_col_type.jpg" class="ui_image_swap" alt=""></div>
				</div>
			</div>

			<!-- ex 113 -->
			<div class="md_col_type">
				<!-- img 속성 -->
				<div class="no1 img_type">
					<!-- 181015 수정 : 동영상 case 추가 -->
					<div class="video_frame"><!-- 181122 수정 : 동영상일 경우 video_frame 교체 -->
						<iframe class="f_mov" width="100%" height="100%" src="https://www.youtube.com/embed/YIOjOvwBQ88?rel=0&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe><!-- 181219 수정 : 동영상 유튜브 매개변수값 수정 -->
					</div>
					<!-- //181015 수정 : 동영상 case 추가 -->
				</div>
			</div>

			<!-- module 1열 full -->
			<!-- ex 121 -->
			<div class="md_col_full_type">
				<!-- img 속성 -->
				<div class="no1 img_type">
					<div class="par_frame"><img src="/images/@img_module_col_full_type.jpg" class="ui_image_swap" alt=""></div> <!-- 181122 수정 -->
				</div>
			</div>

			<!-- ex 122 -->
			<div class="md_col_full_type">
				<!-- txt 속성 -->
				<div class="no1 txt_type a_c v_m">
					<div class="txt_frame">
						<p>바이널씨 유닛들의 특별한 생각이 모인 노트를 소개합니다<br>
							한 사람의 탁월한 생각이나 능력에 의존하기 보다는 함께 만들어가는 즐거움을 우리는 알고 있습니다.<br>
							하루하루가 모여 한달이 되고. 한달한달이 모여 일년이되고, 그리고 그 수많은 일년이 모여 나의 인생이 됩니다.<br>
							하루하루를 소중하게 꾹꾹 눌러 적어둔다면 나의 인생 어떻게 변하게 될까요</p>
					</div>
				</div>
			</div>

			<!-- ex 123 -->
			<div class="md_col_full_type">
				<!-- img 속성 -->
				<div class="no1 img_type">
					<!-- 181015 수정 : 동영상 case 추가 -->
					<div class="video_frame"><!-- 181122 수정 : 동영상일 경우 video_frame 교체 -->
						<iframe class="f_mov" width="100%" height="100%" src="https://www.youtube.com/embed/YIOjOvwBQ88?rel=0&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<!-- //181015 수정 : 동영상 case 추가 -->
				</div>
			</div>

			<!-- module 2열 -->
			<!-- ex 21 -->
			<div class="md_2col_type">
				<!-- img 속성 -->
				<div class="no1 img_type">
					<div class="img_frame"><img src="/images/@img_module_2col_type.jpg" alt=""></div>
				</div>
				
				<!-- img 속성 -->
				<div class="no2 img_type">
					<div class="img_frame"><img src="/images/@img_module_2col_type.jpg" alt=""></div>
				</div>
			</div>

			<!-- ex 22 -->
			<div class="md_2col_type">
				<!-- img 속성 -->
				<div class="no1 img_type">
					<div class="img_frame"><img src="/images/@img_module_2col_type.jpg" alt=""></div>
				</div>

				<!-- txt 속성 -->
				<div class="no2 txt_type a_r v_b">
					<div class="txt_frame">
						<p>바이널씨 유닛들의 특별한 생각이 모인 노트를 소개합니다<br>
							한 사람의 탁월한 생각이나 능력에 의존하기 보다는 함께 만들어가는 즐거움을 우리는 알고 있습니다.<br>
							하루하루가 모여 한달이 되고. 한달한달이 모여 일년이되고, 그리고 그 수많은 일년이 모여 나의 인생이 됩니다.<br>
							하루하루를 소중하게 꾹꾹 눌러 적어둔다면 나의 인생 어떻게 변하게 될까요</p>
					</div>
				</div>
			</div>

			<!-- ex 23 -->
			<div class="md_2col_type">
				<!-- txt 속성 -->
				<div class="no1 txt_type a_l v_m">
					<div class="txt_frame">
						<p>바이널씨 유닛들의 특별한 생각이 모인 노트를 소개합니다<br>
							한 사람의 탁월한 생각이나 능력에 의존하기 보다는 함께 만들어가는 즐거움을 우리는 알고 있습니다.<br>
							하루하루가 모여 한달이 되고. 한달한달이 모여 일년이되고, 그리고 그 수많은 일년이 모여 나의 인생이 됩니다.<br>
							하루하루를 소중하게 꾹꾹 눌러 적어둔다면 나의 인생 어떻게 변하게 될까요</p>
					</div>
				</div>

				<!-- img 속성 -->
				<div class="no2 img_type">
					<div class="img_frame"><img src="/images/@img_module_2col_type.jpg" alt=""></div>
				</div>
			</div>

			<!-- ex 24 -->
			<div class="md_2col_type">
				<!-- 공백 -->
				<div class="no1">
				</div>

				<!-- txt 속성 -->
				<div class="no2 txt_type a_l v_t">
					<div class="txt_frame">
						<p>바이널씨 유닛들의 특별한 생각이 모인 노트를 소개합니다<br>
							한 사람의 탁월한 생각이나 능력에 의존하기 보다는 함께 만들어가는 즐거움을 우리는 알고 있습니다.<br>
							하루하루가 모여 한달이 되고. 한달한달이 모여 일년이되고, 그리고 그 수많은 일년이 모여 나의 인생이 됩니다.<br>
							하루하루를 소중하게 꾹꾹 눌러 적어둔다면 나의 인생 어떻게 변하게 될까요</p>
					</div>
				</div>
			</div>

			<!-- ex 25 -->
			<div class="md_2col_type">
				<!-- img 속성 -->
				<div class="no1 img_type">
					<!-- 181015 수정 : 동영상 case 추가 -->
					<div class="video_frame"><!-- 181122 수정 : 동영상일 경우 video_frame 교체 -->
						<iframe class="f_mov" width="100%" height="100%" src="https://www.youtube.com/embed/YIOjOvwBQ88?rel=0&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<!-- //181015 수정 : 동영상 case 추가 -->
				</div>

				<!-- txt 속성 -->
				<div class="no2 txt_type a_r v_b">
					<div class="txt_frame">
						<p>바이널씨 유닛들의 특별한 생각이 모인 노트를 소개합니다<br>
							한 사람의 탁월한 생각이나 능력에 의존하기 보다는 함께 만들어가는 즐거움을 우리는 알고 있습니다.<br>
							하루하루가 모여 한달이 되고. 한달한달이 모여 일년이되고, 그리고 그 수많은 일년이 모여 나의 인생이 됩니다.<br>
							하루하루를 소중하게 꾹꾹 눌러 적어둔다면 나의 인생 어떻게 변하게 될까요<br>
						</p>
					</div>
				</div>
			</div>

			<!-- module 3열 -->
			<!-- ex 31 -->
			<div class="md_3col_type">
				<!-- img 속성 -->
				<div class="no1 img_type">
					<div class="img_frame"><img src="/images/@img_module_3col_type.jpg" alt=""></div>
				</div>

				<!-- img 속성 -->
				<div class="no2 img_type">
					<div class="img_frame"><img src="/images/@img_module_3col_type.jpg" alt=""></div>
				</div>

				<!-- img 속성 -->
				<div class="no3 img_type">
					<div class="img_frame"><img src="/images/@img_module_3col_type.jpg" alt=""></div>
				</div>
			</div>

			<!-- ex 32 -->
			<div class="md_3col_type">
				<!-- img 속성 -->
				<div class="no1 img_type">
					<div class="img_frame"><img src="/images/@img_module_3col_type.jpg" alt=""></div>
				</div>

				<!-- txt 속성 -->
				<div class="no2 txt_type a_l v_t">
					<div class="txt_frame">
						<p>바이널씨 유닛들의 특별한 생각이 모인 노트를 소개합니다<br>
							한 사람의 탁월한 생각이나 능력에 의존하기 보다는 함께 만들어가는 즐거움을 우리는 알고 있습니다.<br>
							하루하루가 모여 한달이 되고. 한달한달이 모여 일년이되고, 그리고 그 수많은 일년이 모여 나의 인생이 됩니다.<br>
							하루하루를 소중하게 꾹꾹 눌러 적어둔다면 나의 인생 어떻게 변하게 될까요</p>
					</div>
				</div>

				<!-- 공백 -->
				<div class="no3">
					
				</div>
			</div>

			<!-- ex 33 -->
			<div class="md_3col_type">
				<!-- 공백 -->
				<div class="no1">
					
				</div>

				<!-- txt 속성 -->
				<div class="no2 txt_type a_l v_t">
					<div class="txt_frame">
						<p>바이널씨 유닛들의 특별한 생각이 모인 노트를 소개합니다<br>
							한 사람의 탁월한 생각이나 능력에 의존하기 보다는 함께 만들어가는 즐거움을 우리는 알고 있습니다.<br>
							하루하루가 모여 한달이 되고. 한달한달이 모여 일년이되고, 그리고 그 수많은 일년이 모여 나의 인생이 됩니다.<br>
							하루하루를 소중하게 꾹꾹 눌러 적어둔다면 나의 인생 어떻게 변하게 될까요</p>
					</div>
				</div>

				<!-- img 속성 -->
				<div class="no3 img_type">
					<!-- 181015 수정 : 동영상 case 추가 -->
					<div class="video_frame"><!-- 181122 수정 : 동영상일 경우 video_frame 교체 -->
						<iframe class="f_mov" width="100%" height="100%" src="https://www.youtube.com/embed/YIOjOvwBQ88?rel=0&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<!-- //181015 수정 : 동영상 case 추가 -->
				</div>
			</div>

			<!-- module 3열 : 왼쪽으로 2열이 사용할 경우 -->
			<!-- ex 34 -->
			<div class="md_3col_type left_b_type"><!-- 왼쪽으로 2열이 사용할 경우 (left_b_type 클래스 추가) -->
				<!-- img 속성 -->
				<div class="no1 img_type">
					<div class="img_frame"><img src="/images/@img_module_3col_big_type.jpg" alt=""></div>
				</div>

				<!-- txt 속성 -->
				<div class="no2 txt_type a_l v_c">
					<div class="txt_frame">
						<p>바이널씨 유닛들의 특별한 생각이 모인 노트를 소개합니다<br>
							한 사람의 탁월한 생각이나 능력에 의존하기 보다는 함께 만들어가는 즐거움을 우리는 알고 있습니다.<br>
							하루하루가 모여 한달이 되고. 한달한달이 모여 일년이되고, 그리고 그 수많은 일년이 모여 나의 인생이 됩니다.<br>
							하루하루를 소중하게 꾹꾹 눌러 적어둔다면 나의 인생 어떻게 변하게 될까요</p>
					</div>
				</div>
			</div>

			<!-- ex 35 -->
			<div class="md_3col_type left_b_type"><!-- 왼쪽으로 2열이 사용할 경우 (left_b_type 클래스 추가) -->
				<!-- img 속성 -->
				<div class="no1 img_type">
					<!-- 181015 수정 : 동영상 case 추가 -->
					<div class="video_frame"><!-- 181122 수정 : 동영상일 경우 video_frame 교체 -->
						<iframe class="f_mov" width="100%" height="100%" src="https://www.youtube.com/embed/YIOjOvwBQ88?rel=0&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<!-- //181015 수정 : 동영상 case 추가 -->
				</div>

				<!-- txt 속성 -->
				<div class="no2 txt_type a_l v_c">
					<div class="txt_frame">
						<p>바이널씨 유닛들의 특별한 생각이 모인 노트를 소개합니다<br>
							한 사람의 탁월한 생각이나 능력에 의존하기 보다는 함께 만들어가는 즐거움을 우리는 알고 있습니다.<br>
							하루하루가 모여 한달이 되고. 한달한달이 모여 일년이되고, 그리고 그 수많은 일년이 모여 나의 인생이 됩니다.<br>
							하루하루를 소중하게 꾹꾹 눌러 적어둔다면 나의 인생 어떻게 변하게 될까요</p>
					</div>
				</div>
			</div>

			<!-- module 3열 : 오른쪽으로 2열이 사용할 경우 -->
			<!-- ex 36 -->
			<div class="md_3col_type right_b_type"><!-- 왼쪽으로 2열이 사용할 경우 (right_b_type 클래스 추가) -->
				<!-- txt 속성 -->
				<div class="no1 txt_type a_l v_m">
					<div class="txt_frame">
						<p>바이널씨 유닛들의 특별한 생각이 모인 노트를 소개합니다<br>
							한 사람의 탁월한 생각이나 능력에 의존하기 보다는 함께 만들어가는 즐거움을 우리는 알고 있습니다.<br>
							하루하루가 모여 한달이 되고. 한달한달이 모여 일년이되고, 그리고 그 수많은 일년이 모여 나의 인생이 됩니다.<br>
							하루하루를 소중하게 꾹꾹 눌러 적어둔다면 나의 인생 어떻게 변하게 될까요</p>
					</div>
				</div>

				<!-- img 속성 -->
				<div class="no2 img_type">
					<div class="img_frame"><img src="/images/@img_module_3col_big_type.jpg" alt=""></div>
				</div>
			</div>

			<!-- ex 37 -->
			<div class="md_3col_type right_b_type"><!-- 왼쪽으로 2열이 사용할 경우 (right_b_type 클래스 추가) -->
				<!-- txt 속성 -->
				<div class="no1 txt_type a_l v_m">
					<div class="txt_frame">
						<p>바이널씨 유닛들의 특별한 생각이 모인 노트를 소개합니다<br>
							한 사람의 탁월한 생각이나 능력에 의존하기 보다는 함께 만들어가는 즐거움을 우리는 알고 있습니다.<br>
							하루하루가 모여 한달이 되고. 한달한달이 모여 일년이되고, 그리고 그 수많은 일년이 모여 나의 인생이 됩니다.<br>
							하루하루를 소중하게 꾹꾹 눌러 적어둔다면 나의 인생 어떻게 변하게 될까요</p>
					</div>
				</div>

				<!-- img 속성 -->
				<div class="no2 img_type">
					<!-- 181015 수정 : 동영상 case 추가 -->
					<div class="video_frame"><!-- 181122 수정 : 동영상일 경우 video_frame 교체 -->
						<iframe class="f_mov" width="100%" height="100%" src="https://www.youtube.com/embed/YIOjOvwBQ88?rel=0&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<!-- //181015 수정 : 동영상 case 추가 -->
				</div>
			</div>